:root{
    --orange-btn:#FF9302;
    --orange-btn2:#EDA365;
    --orange-btn-hover:#E58400;
    --orange-btn-active:#CE7D10;
    --blue-btn:#4E6875;
    --blue-btn-hover:#3C5563;
    --blue-btn-active:#34444D;
    --main-font:#FF9302;
    --main-font-active:#FFB701;
    --font-black:#272727;
    --font-white:white;
    --font-red:#D83030;
    --font-green:#0B640E;
    --font-blue1:#42465A;
    --font-blue2:#3D5A68;
    --back-ground:#F9F9F9;
    --black1:#272727;
    --black2:#474444;
    --black3:#747474;
    --hp-bg-filter:#D6911A;
    --bg-filter-white:#FFFFFF;
    --bg-filter-black:#474444;


}

